html
    head
    body
        b Dear Admin,
        br

        p New Chef Registeration enquiry from app

        p Name : #{enquiry.chefName}
        p Email : #{enquiry.email}
        p Phone : #{enquiry.phone}
        p Subject : #{enquiry.subject}
        p Message : #{enquiry.message}
        
        p Cheers!
        div Team DialJordan
