html
    head
    body
        b Dear Admin,
        br

        p New Enquiry From App

        p Name : #{enquiry.name}
        p Email : #{enquiry.email}
        p Phone : #{enquiry.mobileno}
        p Subject : #{enquiry.subject}
        p Message : #{enquiry.message}
        
        p Cheers!
        div Team DialJordan
