<!-- Code generator by Bharath -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../common/head %>
</head>
<body ng-app="adminApp" ng-cloak>
	<div layout="column" ng-cloak>
		<section layout="row" ng-controller="pageController as vmPage" flex>
			<% include ../includes/sideNav %>
			<md-content flex layout="column" ng-controller="userEditController as vmUserEdit" ng-cloak>
				<form method="POST" action="{{'/admin/users/update/<%= user._id %>'}}" name="userForm">
					<md-card>
						<md-card-content>
							<h2>User Edit</h2>
							<br />
							<% var vm= 'vmUserEdit' %>
							<table>
							  <tbody>
							    <tr>
							      <td>Name</td>
							      <td>
							        <md-input-container class="md-block">
							          <input type="text" aria-label="users" name="name" ng-init="<%= vm %>.name = <%= vm %>.name || '<%= user.name %>'" ng-model="<%= vm %>.name"/>
							        </md-input-container>
							      </td>
							    </tr>
							    <tr>
							      <td>Mobile</td>
							      <td>
							        <md-input-container class="md-block">
							        <input type="text" aria-label="users" name="mobileno" ng-init="<%= vm %>.mobileno = <%= vm %>.mobileno || '<%= user.mobileno %>'"  ng-model="<%= vm %>.mobileno"/>
							        </md-input-container>
							      </td>
							    </tr>
							    <tr>
							      <td>Email</td>
							      <td>
							        <md-input-container class="md-block">
							        <input type="text" aria-label="users" name="email" ng-init="<%= vm %>.email = <%= vm %>.email || '<%= user.email %>'"  ng-model="<%= vm %>.email" />
							        </md-input-container>
							      </td>
							    </tr>
							    <tr>
							      <td>Caterer ID</td>
							      <td>
							        <md-input-container class="md-block">
							        <input type="text" aria-label="users" name="caterer_id" ng-init="<%= vm %>.caterer_id = <%= vm %>.caterer_id || '<%= user.caterer_id %>'"  ng-model="<%= vm %>.caterer_id" />
							        </md-input-container>
							      </td>
							    </tr>
							    <tr>
							      <td>caterer Name</td>
							      <td>
							        <md-input-container class="md-block">
							        <input type="text" aria-label="users" name="caterer_name" ng-init="<%= vm %>.caterer_name = <%= vm %>.caterer_name || '<%= user.caterer_name %>'"  ng-model="<%= vm %>.caterer_name" />
							        </md-input-container>
							      </td>
							    </tr>
							    <tr>
							      <td>Apartment ID</td>
							      <td>
							        <md-input-container class="md-block">
							        <input type="text" aria-label="users" name="apartment_id" ng-init="<%= vm %>.apartment_id = <%= vm %>.apartment_id || '<%= user.apartment_id %>'"  ng-model="<%= vm %>.apartment_id" />
							        </md-input-container>
							      </td>
							    </tr>
							    <tr>
							      <td>Apartment Name</td>
							      <td>
							        <md-input-container class="md-block">
							        <input type="text" aria-label="users" name="apartment_name" ng-init="<%= vm %>.apartment_name = <%= vm %>.apartment_name || '<%= user.apartment_name %>'"  ng-model="<%= vm %>.apartment_name" />
							        </md-input-container>
							      </td>
							    </tr>
							  </tbody>
							</table>
						</md-card-content>
						<md-card-actions>
							<md-button type="submit">Submit</md-button>
						</md-card-actions>
					</md-card>
				</form>
			</md-content>
		</section>
	</div>
	<% include ../../common/script %>
</body>
</html>
<!-- End of File -->